:root {
    --navbar-background-color: #373737;
    --background-color: #333333;
    --h2-color: #cdc6c6;
    --sub-color: #9a9898;
    --text-color: #ffffff;
}

[data-theme="dark"] {
    --navbar-background-color: #373737;
    --background-color: #333333;
    --h2-color: #cdc6c6;
    --sub-color: #9a9898;
    --text-color: #ffffff;
}

[data-theme="light"] {
    --navbar-background-color: #ffffff;
    --background-color: #ffffff;
    --h2-color:  #333;;
    --sub-color: #666;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}